/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the body background and fonts */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    margin-left: 40px;
}

/* Style the header */
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Style the form container */
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style form labels */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

/* Style form inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style the submit button */
button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Style the return button */
.return-button a {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
}

/* Hover effect for buttons */
button[type="submit"]:hover,
.return-button a:hover {
    background-color: #0056b3;
}
.ret-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #fe0303;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
    cursor: pointer;
}
.ret-button:hover {
    background-color: #365bf0;
}